@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Waterfall&display=swap');
@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');

/*******************************************************************************
 * VARIABLES
 ******************************************************************************/

:root {
    --font-family-default: "Century Gothic", "Century Gothic Paneuropean", sans-serif;
    --font-family-heading: "Besley", serif;
    --font-family-fancy:   "Waterfall", serif;

    --color-siam:        #5D6953;
    --color-sage:        #9DA48E;
    --color-celeste:     #CED2C4;
    --color-spring-wood: #F5F0EA;
}

/*******************************************************************************
 * SANE DEFAULTS
 ******************************************************************************/

body {
    margin: 0;
}

/*******************************************************************************
 * UTILITY CLASSES
 ******************************************************************************/

.font-text { font-family: var(--font-family-default); font-size: 1.125rem; }

.bg-light { background-color: var(--color-spring-wood); }
.fg-dark  { color: var(--color-siam); }

.flex-horizontal    { display: flex; flex-direction: row; }
.flex-vertical      { display: flex; flex-direction: column; }
.flex-space-between { display: flex; justify-content: space-between; }

.list-style-none { list-style: none; }
.link-style-none { text-decoration: none; }

/*******************************************************************************
 * NAVBAR
 ******************************************************************************/

.navbar__logo {
    /* TODO: How big? */
    max-width: 12rem;
    max-height: 12rem;
}
